

/*h1
{
  font-family: arial black, sans-serif;
  font-weight:bold;
  color: white;
  font-size: 35px;
  text-align: center;
  position: relative;
  height: auto;
  width: auto;
  margin-top: 10px;

}*/


#ligne2
{
  text-align: center;
  position: relative;
  margin-top: 50px;
  
  
}

#ligne3
{
  text-align: center;
  position: relative;
  margin-top: 10px;
  
}

#ligne4
{
  text-align: center;
  position: relative;
  margin-top: 10px;
  
}

#photo1{
  border-radius: 50%;
  width:13%;
  height:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#photo2{
  border-radius: 50%;
  margin-left: 10px;
   width:13%;
  height:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#photo3{
  border-radius: 50%;
  margin-left: 10px;
   width:13%;
  height:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#photo4{
  border-radius: 50%;
  margin-left: 10px;
   width:13%;
  height:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#photo5{
  border-radius: 50%;
  margin-left: 10px;
   width:13%;
  height:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
